#trollBackground {
    -fx-background-image: url('images/TrollBackground.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#basilicBackground {
    -fx-background-image: url('images/basilicBackground.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.HP, .Mana, .attack, .accuracy, .level, .troll {
    -fx-translate-y: 460px;
    -fx-font-weight: bold;
}


#startButton {
      -fx-background-color: #5B5B5B;
      -fx-text-fill: #FFFFFF;
      -fx-font-size: 16px;
      -fx-padding: 10px 23px;
      -fx-background-radius: 5px;
      -fx-border-radius: 5px;
      -fx-translate-y: 100;
}

#startButton:hover {
      -fx-background-color: linear-gradient(to bottom, #6600CC, #9900FF);
      -fx-text-fill: #FFFFFF;
      -fx-background-radius: 5px;
      -fx-border-radius: 5px;
}


#startButton:pressed {
    -fx-background-color: linear-gradient(to bottom, #6600CC, #9900FF);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}



/*.my-image {
  background-image: url("C:\Users\ivanm\IdeaProjects\javafx\src\main\resources\application\title.png");
  background-size: cover;
  width: 200px;
  height: 200px;
}*/

.HP {
    -fx-fill: white;
    -fx-font-size: 11pt; /* Change the font size to 16 points */
    -fx-translate-x: 20px; /* adjust as needed */

}

.Mana {
    -fx-fill: white;
    -fx-font-size: 11pt; /* Change the font size to 16 points */
    -fx-translate-x: 200px; /* adjust as needed */
}

.attack {
    -fx-fill: white;
    -fx-font-size: 11pt; /* Change the font size to 16 points */
    -fx-translate-x: 360px; /* adjust as needed */
}

.accuracy {
    -fx-fill: white;
    -fx-font-size: 11pt; /* Change the font size to 16 points */
    -fx-translate-x: 540px; /* adjust as needed */
}

.level {
    -fx-fill: white;
    -fx-font-size: 11pt; /* Change the font size to 16 points */
    -fx-translate-x: 700px; /* adjust as needed */
}

.troll {
    -fx-fill: red;
    -fx-font-size: 11pt; /* Change the font size to 16 points */
    -fx-translate-x: 940px; /* adjust as needed */
}

.basilic {
    -fx-fill: red;
    -fx-font-size: 11pt; /* Change the font size to 16 points */
    -fx-translate-x: 940px; /* adjust as needed */
}



#rectangle {
    -fx-fill: black;
    -fx-stroke: white;
    -fx-stroke-width: 3;
    -fx-arc-width: 10;
    -fx-arc-height: 1
}



#attack, #defend, #inventory, #spell, #attackTroll, #attackBasilic, #returnButton, #healPotion, #damagePotion, #manaPotion, #wingardium {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-alignment: baseline-left;
    -fx-padding: 5px;
    -fx-graphic: url('images/triangle.png'); /* set the bullet point image as the button's graphic */
    -fx-graphic-text-gap: 5px; /* add some spacing between the bullet point and the text */


}

#attack:hover, #defend:hover, #inventory:hover, #spell:hover , #attackTroll:hover, #attackBasilic:hover, #returnButton:hover, #healPotion:hover, #damagePotion:hover, #manaPotion:hover, #wingardium:hover {
   -fx-text-fill: #00FF00; /* Green color */
}










